 *{
    background-color: lime; 
 }
 *{
 color: rgb(43, 159, 226);
 }
 h1:hover {
  color: gold;
 }
img {
    height:25%;
    width:34%;
    margin: auto;
    align-self: auto;
}
h2{
    color: blue;
}
h2:hover{
    color: red;
}
h3{
    color: red;
}
h3:hover{
    color: blue;
}
h4{
    color: red;

}
h4:hover{
    color: blue;
}