 * {
 color: rgb(43, 159, 226);
 }
 h1:hover {
  color: gold;
 }
img {
    height:25%;
    width:34%;
    margin: auto;
    align-self: auto;
}
h2{
    color: ghostwhite;
}
h2:hover{
    color: lime;
}